body{
    background-image: url("../images/background.jpg");
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

#title{
    color: rgb(15, 44, 230);
    text-align: left;
    margin-top: 35px;
    margin-bottom: 35px;
}

div{
    display: block;
}

#parent-box{
    width: 50%;
    height: 25%;
    padding: 30px 250px 0px 400px;
}

.links-to-pages{
    float: left;
    margin: 1%;
    width: 30%;
    background: white;
    color: white;
    text-align: center;
    border: 5px groove silver;
    padding: 50px 50px 50px 50px;
}

#canada-button{
    background-image: url("../images/canada_flag.png");
    background: red;
}

.links-to-pages:hover{
    color: blue;
    transform: scale(1.1);
}

#brunei-button{
    color: black;
    background-image: url("../images/brunei_flag.png");
    background: yellow;
}

#cuba-button{
    background: lightblue;
}

#thailand-button{
    background-image: url("../images/thailand_flag.png");
    background: purple;
}